<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color">

  <mdb-navbar-brand>
      <a href="/" class="navbar-brand">Logo</a>
  </mdb-navbar-brand>

  
     <links>
       <ul class="navbar-nav">

              <a class="nav-link waves-light" href=""  mdbWavesEffect>link<span class="sr-only"></span></a>
              <a class="nav-link waves-light" href=""  mdbWavesEffect>link-2<span class="sr-only"></span></a>
              <a class="nav-link waves-light" href=""  mdbWavesEffect>link-3<span class="sr-only"></span></a>
              <a class="nav-link waves-light" href=""  mdbWavesEffect>link-4<span class="sr-only"></span></a>
                
      </ul>
  </links>
</mdb-navbar>
